@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@import './abstract/reset';

.view-container {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}
