<template>
  <div class="home" ref="home">
    <div class="layout">
      <span class="layout__title">
        <span>R</span>
        <span>/</span>
        <span>C</span>
      </span>
      <span class="layout__date">
        <span>01</span>
        <span>/</span>
        <span>03</span>
      </span>
      <span class="layout__bottom">
        <span>Le mariage</span>
      </span>
      <div class="layout__flower--top">
        <!-- <img
          src="https://lh3.googleusercontent.com/proxy/tDC7gOvSQQw4yAWHPISe8ziTJCCxr8ZsBvF59C5uFXz60peigqk0HVoqqOxWM2mxU34d_RALID0vX48pfvebG5F8Gb8I6NeBsEqQx7UxC5zlpU4wUpN_Ag"
          alt=""
        /> -->
        <img
          src="https://lh3.googleusercontent.com/proxy/iNxp8dbaS1nqJkPv2jayDxZ2jVNJeUwhzNosB-thYxswgmjCiPq4FRZtFCI0iOSleFfvRO_aBKiXTYbXjLo-6tZ67U0u_yHj3pbo8wtFKM2nFLI"
          alt=""
        />
      </div>
      <div class="layout__flower--bottom">
        <img
          src="https://lh3.googleusercontent.com/proxy/iNxp8dbaS1nqJkPv2jayDxZ2jVNJeUwhzNosB-thYxswgmjCiPq4FRZtFCI0iOSleFfvRO_aBKiXTYbXjLo-6tZ67U0u_yHj3pbo8wtFKM2nFLI"
          alt=""
        />
        <!-- <img
          src="@/assets/125-1252037_vintage-flowers-png-transparent-png-removebg-preview.png"
          alt=""
        /> -->
      </div>
    </div>
    <ContentScrollRenderless :content="content" :onAnimation="onAnimation">
      <template v-slot:default="{ currentItem, currentIndex, maxItem }">
        <div class="home-slide">
          <div class="home-slide__left">
            <ImageAnimation
              @onAnimation="onAnimationImage"
              class="home-slide__img"
              :content="currentItem.img"
            />
          </div>
          <!-- <div class="home-slide__bg" /> -->
          <Pagination :currentIndex="currentIndex" :maxItem="maxItem" />
          <TitleAnimation
            @onAnimation="onAnimationTitle"
            class="home-slide__title"
            :content="currentItem.title"
          />
        </div>
      </template>
    </ContentScrollRenderless>
  </div>
</template>

<script lang="ts">
import gsap, { Power2 } from 'gsap'
import Vue from 'vue'
import Component from 'vue-class-component'
import ContentScrollRenderless from '../components/ContentScrollRenderless'
import { SliderItemInterface } from '../components/ContentScrollRenderless'
import TitleAnimation from '../components/TitleAnimation'
import ImageAnimation from '../components/ImageAnimation'
import Pagination from '../components/Pagination.vue'

@Component({
  name: 'Home',
  components: {
    ContentScrollRenderless,
    TitleAnimation,
    ImageAnimation,
    Pagination
  }
})
export default class HomeView extends Vue {
  content: SliderItemInterface[] = [
    {
      title: 'Arrivée des invités',
      img: '/img/1.JPG',
      category: 'lala'
    },
    {
      title: 'Arrivée de la mariée',
      img: '/img/arrival-bride/1.jpg',
      category: 'lala'
    },
    {
      title: 'Ceremonie a la maison',
      img:
        'https://images.unsplash.com/photo-1573495803898-b6752f1d326e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80',
      category: 'lala'
    }
  ]

  get onAnimation(): boolean {
    return this.isOnAnimationImage || this.isOnAnimationTitle
  }

  isOnAnimationImage = false
  isOnAnimationTitle = false

  onAnimationImage(e: boolean): void {
    console.log('in home image', e)
    this.isOnAnimationImage = e
  }

  onAnimationTitle(e: boolean): void {
    console.log('in home title', e)
    this.isOnAnimationTitle = e
  }

  mounted() {
    gsap.fromTo(
      this.$refs.home,
      {
        opacity: 0
      },
      {
        duration: 0.2,
        ease: Power2.easeOut,
        opacity: 1
      }
    )
  }
}
</script>

<style lang="scss">
.home {
  background: #f3f2f1;
  min-height: 100vh;
}

.home-slide {
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  left: 0;
  width: 100%;
  padding: 0 8.33333333vw 0 16.66666667vw;
  display: flex;
  align-items: center;
  z-index: 2;

  &__left {
    z-index: 1;
    width: calc(33.33333333vw + 33px);
    position: relative;
    height: 100vh;
  }

  &__title {
    font-size: 3vw;
    font-weight: 600;

    margin-left: 40px;
  }

  &__img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-backface-visibility: hidden;
  }

  &__bg {
    position: absolute;
    width: 50.6vw;
    height: 30.4vh;
    z-index: -1;

    left: 10vw;
    top: 8vw;

    background: #ea8685;
  }
}

.layout {
  overflow: hidden;
  height: 100vh;
  position: absolute;
  z-index: 100;
  width: 100vw;
  pointer-events: none;

  &__title,
  &__date {
    position: absolute;
    top: calc(4.16666667vw - 30px);

    font-size: 1.5em;
    font-weight: 500;

    text-align: center;
    line-height: 1.38889vw;

    span {
      display: block;
    }
  }

  &__title,
  &__bottom {
    left: calc(5.16666667vw - 40px);
  }

  &__date {
    right: calc(5.16666667vw - 40px);
  }

  &__bottom {
    position: absolute;
    bottom: calc(4.16666667vw - 30px);

    span {
      transform: rotate(-90deg);
      transform-origin: 0px;
      display: block;

      font-size: 1.5em;
      font-weight: 500;
    }
  }

  &__flower--top {
    display: block;
    position: absolute;
    top: 10vh;
    right: 10vw;

    img {
      width: 20vw;
    }
  }

  &__flower--bottom {
    display: block;
    position: absolute;
    bottom: -5vh;
    left: 10vw;

    img {
      transform-origin: center;
      transform: rotate(-90deg);
      width: 20vw;
    }
  }
}
</style>
