<template>
  <div class="overlay" ref="overlay">
    <svg
      ref="rings"
      height="800"
      width="300"
      viewBox="0 0 1024 512"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g data-name="filled outline">
        <g ref="firstRing">
          <path
            d="M344 184a144 144 0 10144 144 144 144 0 00-144-144zm0 256a112 112 0 11112-112 112 112 0 01-112 112z"
            fill="#ea9d2d"
          />
          <path
            d="M329.586 136a21.146 21.146 0 0114.952 6.193l9.807 9.807 9.806-9.807A21.151 21.151 0 01379.1 136a21.144 21.144 0 0120.06 14.459 16.269 16.269 0 01-3.931 16.652L354.345 208l-40.889-40.889a16.273 16.273 0 01-3.931-16.652A21.146 21.146 0 01329.586 136z"
            fill="#f16465"
          />
        </g>
        <g ref="secondRing">
          <path
            d="M168 112a144 144 0 10144 144 144 144 0 00-144-144zm0 256a112 112 0 11112-112 112 112 0 01-112 112z"
            fill="#fbb540"
          />
          <path d="M224 72l-56 72-56-72 24-32h64z" fill="#0a9acd" />
          <path d="M112 72h112l-24-32h-64z" fill="#0bafea" />
          <path d="M192 72l-24-32-24 32z" fill="#8feaff" />
          <path d="M168 144l24-72h-48z" fill="#0bafea" />
        </g>
      </g>
    </svg>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import gsap, { Power1, Power4 } from 'gsap'

@Component
export default class MainLoader extends Vue {
  mounted() {
    const tl = gsap.timeline({
      onComplete: () => {
        this.$emit('finish')
      }
    })

    tl.set(this.$refs.secondRing, {
      x: 170,
      y: 70,
      opacity: 0
    })
      .from(this.$refs.firstRing, {
        duration: 1,
        ease: Power1.easeInOut,
        y: -1000
      })
      .to(this.$refs.secondRing, {
        duration: 1,
        ease: Power4.easeIn,
        opacity: 1,
        x: 370,
        rotate: 20,
        smoothOrigin: true
      })
      .to(this.$refs.rings, {
        delay: 0.5,
        opacity: 0
      })
      .to(
        this.$refs.overlay,
        {
          ease: Power4.easeOut,
          duration: 2,
          width: 0
        },
        2.8
      )
  }
}
</script>

<style lang="scss">
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #ed4c67;

  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
