<template>
  <div class="pagination">
    <div class="pagination__number pagination__number--first">
      0{{ currentIndex + 1 }}.
    </div>
    <div ref="wrapper" class="pagination__bar-wrapper">
      <div ref="bar" class="pagination__bar" />
    </div>
    <div class="pagination__number pagination__number--last">
      0{{ maxItem }}.
    </div>
  </div>
</template>

<script lang="ts">
import gsap from 'gsap'
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component
export default class Pagination extends Vue {
  @Prop() readonly currentIndex!: number
  @Prop() readonly maxItem!: number

  wrapperHeight = 0

  mounted() {
    this.wrapperHeight = (this.$refs
      .wrapper as Element).getBoundingClientRect().height

    gsap.set(this.$refs.bar, {
      height: this.wrapperHeight / this.maxItem
    })
  }

  @Watch('currentIndex')
  onChangeCurrentIndex(value: number) {
    gsap.to(this.$refs.bar, {
      height: (this.wrapperHeight / this.maxItem) * (value + 1)
    })
  }
}
</script>

<style lang="scss">
.pagination {
  position: absolute;
  top: 50%;
  right: calc(5.16666667vw - 50px);
  text-align: center;
  width: 50px;

  transform: translateY(-50%);

  &__number {
    font-size: 1.4em;
    font-weight: 700;

    &--first {
      margin-bottom: 25px;
    }

    &--last {
      margin-top: 25px;
    }
  }

  &__bar-wrapper {
    height: 153px;
    width: 1px;
    position: relative;
    background: rgba(0, 0, 0, 0.25);
    display: block;
    margin: 0 auto;
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background: #000;
    // background: #27ae60;
    height: 100%;
    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
}
</style>
