<template>
  <div id="app">
    <main-loader v-if="showStartAnimation" @finish="handleFinish" />
    <router-view v-if="!showStartAnimation" />
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import MainLoader from './components/MainLoader.vue'

@Component({
  components: {
    MainLoader
  }
})
export default class AppView extends Vue {
  showStartAnimation = true

  handleFinish(): void {
    this.showStartAnimation = false
  }
}
</script>

<style lang="scss">
#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #f3f2f1;
  min-height: 100vh;
}
</style>
